#include "dsi-panel-rm69330-cmd.dtsi"

&dsi_rm69330_cmd {
    /delete-property/ qcom,mdss-dsi-panel-timings;
    qcom,mdss-dsi-panel-timings-phy-12nm = [04 04 01 08 00 03 01 0D];
    qcom,panel-supply-entries = <&dsi_pm660_panel_pwr_supply>;
    qcom,partial-update-enabled;
    qcom,partial-update-addr-offset = <0x10 0>;
    qcom,panel-roi-alignment = <2 2 4 2 20 2>;
    qcom,esd-check-enabled;
    qcom,mdss-dsi-panel-status-check-mode = "te_signal_check";
    qcom,platform-te-gpio = <&tlmm 24 0>;
    qcom,platform-reset-gpio = <&tlmm 56 0>;
    qcom,platform-enable-gpio = <&tlmm 55 0>;
};
